img.author__avatar,
.author__avatar {
  border-radius: 0 !important;  
  width: 200px !important;                
  height: auto !important;                 
  max-width: 100% !important;            
}
